@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General Styles */
body {
  color: #2C1119;
  font-family: 'Cabin', sans-serif;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('/public/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

/* Heading Styles */
h1 {
  font-weight: 700;
  color: #EF4B47  !important;
}

/* Paragraph Styles */
p {
  font-weight: 400;
}

/* Link Styles */
a {
  text-decoration: none !important;
  color: #2C1119;
}


/* Button, Input, and Response Styles */
button, input, .response {
  background-color: #DBE3E9;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px  !important;
}

/* Image Styles */
img {
  border-radius: 10px;
}

/* Navbar Styles */
nav {
  background-color: #2C1119;
  color: #F5FCFF;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
}

.white {
  color: #F5FCFF;
}

.black {
  color: #2C1119;
}

.yellow {
  color: #FCDA5C;
}

.red {
  color: #EF4B47;
}

.blue {
  color: #49A0CC;
}

.greenbg {
  background-color: #ADD139  !important;
}

.greenbg:hover {
  background-color: #b1d637;
}

/* Card Image Styles */
.cards img {
  height: 150px;
}

/* Event Grid Image Styles */
.events-grid .img-fluid {
  height: 120px;
  width: 200px;
}

/* Grid for Attractions */
.attractions-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.attraction-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #DBE3E9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.attraction-item:hover {
  transform: translateX(10px);
}

.attraction-item img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.attraction-item .content {
  flex-grow: 1;
}

.attraction-item .content h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.attraction-item .content p {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.attraction-item .more-details a {
  display: inline-block;
  padding: 7px 10px;
  background-color: #EF4B47;
  color: #fff;
  border-radius: 4px;
  border-color: #EF4B47;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.attraction-item .more-details a:hover {
  background-color: #c43d3b;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #EF4B47;
  border: none;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

.pagination button.active,
.pagination button:hover {
  background-color: #c43d3b;
}

/* Footer Styles */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #2C1119;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}
